h4.block-title-1-songti-23{
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    margin-left: 1em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: left;
    font-family: "songti";
    font-size: 1.2em;
}

p.bodyContent-1-kaiti-30{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0em;

    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.bodyContent-2-fangsong-8{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 2em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "fangsong";
    font-size: 1em;
}

p.bodyContent-2-fangsong-bot-4{
    margin-top: 0.5em;
    margin-bottom: 1.3em;
    margin-left: 2em;
    margin-right: 2em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "fangsong";
    font-size: 1em;
}

p.bodyContent-2-fangsong-top-4{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "fangsong";
    font-size: 1em;
}

p.bodyContent-2-kaiti-12{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.bodyContent-2-kaiti-24{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 3em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

div.boxBlock-502{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
              vertical-align:middle;
    padding-top: 0.5em;
    padding-left: 0.5em;
   padding-right: 0.5em;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 0em;
    border-style: none;
    border-color: #000000;
    background-color: #DCDCDC;
}

div.boxBlock-578{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
              vertical-align:middle;
    padding-top: 0.5em;
    padding-left: 0.5em;
   padding-right: 0.5em;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0em;
    border-style: dashed;
    border-color: #000000;
    background-color: #FFFFFF;
}

p.boxContent-1-81{
    margin-top: 0.5em;
    margin-botto: 0.5em;
    margin-left: 1em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.boxContent-1-top-3{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

div.chatu_img-l-1{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
}

p.noindent-bodyContent-1-16{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1.2em;
}

p.noindent-bodyContent-1-c-5{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "songti";
    font-size: 1.5em;
}

p.noindent-bodyContent-1-kaiti-9{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 0.9em;
}

p.noindent-bodyContent-1-kaiti-l{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: left;
    font-family: "kaiti";
    font-size: 0.9em;
}

p.noindent-bodyContent-1-top-48{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 0.8em;
}

p.noindent-bodyContent-1-topbot-36{
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1.1em;
}

p.noindent-boxContent-1-18{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1.2em;
}



img.pic-img-w20{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 20%;
}

img.pic-img-w25{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 25%;
}



h1.prefacetitle-r-3{
    margin-top: 1em;

    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: left;
    font-family: "heiti";
    font-size: 1.5em;
}

p.signContent-1-kaiti-2{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: left;
    font-family: "kaiti";
    font-size: 1em;
}

p.signContent-1-kaiti-28{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: left;
    font-family: "kaiti";
    font-size: 0.8em;
}

p.signContent-1-kaiti-29{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: left;
    font-family: "kaiti";
    font-size: 0.9em;
}

p.signContent-1-kaiti-l-2{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: left;
    font-family: "kaiti";
    font-size: 0.9em;
}

p.signContent-1-kaiti-top-26{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: right;
    font-family: "kaiti";
    font-size: 0.8em;
}

p.signContent-1-top-49{
    margin-top: 1.3em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: right;
    font-family: "songti";
    font-size: 0.8em;
}

p.tuzhu-c-3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "kaiti";
    font-size: 0.8em;
}

ul.uListContent4-5{
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
    list-style-type: none;
    list-style-position: outside;
}


.pagebreak {page-break-before:always;}
span.space {letter-spacing: 0.5em;}
span.kuang{border:1px none black;
    background-color: #aca9a9;}
span.bai{border:1px none black;
    background-color: #464646;
    color: white;}