h1.backtitle-c-3{
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: center;
    font-family: "heiti";
    font-size: 1.6em;
}

p.biaozhu-c-1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "kaiti";
    font-size: 0.8em;
}

h4.block-title-1-2{
    margin-top: 1.1em;
    margin-bottom: 1.1em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: left;
    font-family: "heiti";
    font-size: 1.2em;
}

p.bodyContent-1-3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1em;
}

p.bodyContent-1-12{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 6em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1em;
}

p.bodyContent-1-21{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1em;
}

p.bodyContent-1-top-2{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1em;
}

div.boxBlock-15{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
             vertical-align:middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
   padding-right: 0.5em;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 1em;
    border-style: solid;
    border-color: #000000;
    background-color: #FFFFFF;
}

div.boxBlock-43{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
             vertical-align:middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
   padding-right: 0.5em;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 1em;
    border-style: solid;
    border-color: #000000;
    background-color: #FFFFFF;
}

p.boxContent-1-3{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.boxContent-1-11{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.boxContent-1-heiti{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "heiti";
    font-size: 1em;
}

p.boxContent-1-heiti-top-3{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 4em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "heiti";
    font-size: 1em;
}

div.chap_img{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 100%;
}

h1.chaptertitle-c-2{
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: center;
    font-family: "heiti";
    font-size: 1.6em;
}

div.chatu_img-l{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: left;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 100%;
}

/*--灰色--*/
span.color-AAAAAA{
    color: #AAAAAA;
}

h1.copytitle-songti-l{
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: left;
    font-family: "songti";
    font-size: 1.4em;
}

p.fnContent-1-6{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 0.9em;
}

p.hang-boxContent-1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

p.hang-boxContent-1-heiti{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "heiti";
    font-size: 1em;
}

p.hang-boxContent-1-heiti-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 0em;
    text-indent: -2em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "heiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-heiti-c-2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "heiti";
    font-size: 1.4em;
}

p.noindent-bodyContent-1-heiti-c-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "heiti";
    font-size: 1em;
}

p.noindent-bodyContent-1-top-12{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1.2em;
}

p.noindent-boxContent-1-heiti-1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "heiti";
    font-size: 1em;
}

p.noindent-boxContent-1-heiti-c{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "heiti";
    font-size: 1em;
}

p.noindent-boxContent-1-r{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: right;
    font-family: "kaiti";
    font-size: 1em;
}

p.noindent-boxContent-1-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "kaiti";
    font-size: 1em;
}

ol.oListContent1-top{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 1em;
    list-style-type: decimal;
}

img.pic-img-w20{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 20%;
}

img.pic-img-w25{
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
    vertical-align: middle;
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
   padding-right: 0em;
    width: 25%;
}

h1.prefacetitle-1{
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: left;
    font-family: "heiti";
    font-size: 1.6em;
}



h1.prefacetitle-c-3{
    margin-top: 1.6em;
    margin-bottom: 1.3em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    color: #000000;
    text-align: center;
    font-family: "heiti";
    font-size: 1.6em;
}

p.tuti-heiti{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "heiti";
    font-size: 0.9em;
}

p.tuzhu-c{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: center;
    font-family: "kaiti";
    font-size: 0.8em;
}

ul.uListContent1-1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 0.9em;
    list-style-type: disc;
}

ul.uListContent1-2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 0.9.5em;
    list-style-type: disc;
}

ul.uListContent1-top-1{
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 0.9em;
    list-style-type: disc;
}

ul.uListContent1-top-2{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 0em;
    text-indent: 0em;
    line-height: 1.5em;
    color: #000000;
    text-align: justify;
    font-family: "songti";
    font-size: 0.9em;
    list-style-type: disc;
}

